ipython

# Precommit
pre-commit
pur

# flutter/release.sh
oauth2client
httplib2

# set_role.py
firebase_admin
google-cloud-datastore

# Hacking around
beautifulsoup4==4.9.3
python-dateutil==2.8.1

cryptography==3.3.2

Flask==1.0.2
