{
  "basePath": "/_ah/api",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "MainProfileResponse": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "header": {
          "$ref": "#/definitions/MainResponseHeader"
        }
      },
      "type": "object"
    },
    "MainRequest": {
      "properties": {
        "header": {
          "$ref": "#/definitions/MainRequestHeader"
        }
      },
      "type": "object"
    },
    "MainRequestHeader": {
      "properties": {},
      "type": "object"
    },
    "MainResponse": {
      "properties": {
        "header": {
          "$ref": "#/definitions/MainResponseHeader"
        }
      },
      "type": "object"
    },
    "MainResponseHeader": {
      "properties": {},
      "type": "object"
    },
    "MainServiceResponse": {
      "properties": {
        "connected": {
          "type": "boolean"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "header": {
          "$ref": "#/definitions/MainResponseHeader"
        },
        "modified": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.bikebuds.cc",
  "info": {
    "title": "bikebuds",
    "version": "v1"
  },
  "paths": {
    "/bikebuds/v1/disconnect/{id}": {
      "post": {
        "operationId": "BikebudsApi_disconnectService",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MainRequest"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/MainServiceResponse"
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "firebase-dca327ad": []
          }
        ]
      }
    },
    "/bikebuds/v1/get_api_key": {
      "get": {
        "operationId": "BikebudsApi_getApiKey",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/MainResponse"
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "firebase-dca327ad": []
          }
        ]
      }
    },
    "/bikebuds/v1/profile": {
      "post": {
        "operationId": "BikebudsApi_getProfile",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MainRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/MainProfileResponse"
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "firebase-dca327ad": []
          }
        ]
      }
    },
    "/bikebuds/v1/service/{id}": {
      "post": {
        "operationId": "BikebudsApi_getService",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MainRequest"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/MainServiceResponse"
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "firebase-dca327ad": []
          }
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "in": "query",
      "name": "key",
      "type": "apiKey"
    },
    "firebase": {
      "authorizationUrl": "",
      "flow": "implicit",
      "type": "oauth2",
      "x-google-issuer": "https://securetoken.google.com/bikebuds-app",
      "x-google-jwks_uri": "https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    },
    "firebase-dca327ad": {
      "authorizationUrl": "",
      "flow": "implicit",
      "type": "oauth2",
      "x-google-audiences": "-,a,b,b,d,e,i,k,p,p,s,u",
      "x-google-issuer": "https://securetoken.google.com/bikebuds-app",
      "x-google-jwks_uri": "https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    }
  },
  "swagger": "2.0"
}