# main.py
Flask==1.1.2
Flask-Cors==3.0.10
Werkzeug==1.0.1 # https://github.com/python-restx/flask-restx/issues/34
flask-restx==0.2.0
flask-talisman==0.7.0

requests==2.25.1
requests-toolbelt==0.9.1

# auth_util3.py
firebase-admin==4.5.1
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2

# ds_helper.py
google-cloud-datastore==2.1.0

# task_util.py
google-cloud-tasks==2.1.0

# /services/
fitbit==0.3.1
stravalib==0.10.2
withings-api==2.3.0

# trainerroad
lxml==4.6.2

# For natural language dates and such
Babel==2.9.0

# Utility
sortedcontainers==2.3.0

# Stackdriver
google-cloud-profiler==2.0.4
google-python-cloud-debugger==2.15

# Slack
git+git://github.com/jlapenna/python-slack-events-api@master

# pass_util.py
cryptography==3.3.1
