# main.py
Flask==1.1.2
Flask-Cors==3.0.10
Werkzeug==1.0.1 # https://github.com/python-restx/flask-restx/issues/34
flask-restx==0.2.0

requests==2.25.1
requests-toolbelt==0.9.1
curlify==2.2.1

# auth_util.py
firebase-admin==4.5.2
google-auth==1.27.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.3

# ds_helper.py
google-cloud-datastore==2.1.0

# /services/
fitbit==0.3.1
stravalib==0.10.2
withings-api==2.3.0
measurement==3.2.0

# trainerroad
lxml==4.6.2

# task_util.py
google-cloud-tasks==2.2.0

# For natural language dates and such
Babel==2.9.0

# Utility
sortedcontainers==2.3.0

# Slack
slackclient
bs4

# Google Maps
googlemaps

retrying==1.3.3

# live tracks tracker
google-cloud-pubsub==2.4.0
google-api-python-client==2.0.2
beautifulsoup4==4.9.3
python-dateutil==2.8.1

# aiohttp 3.7.3 has requirement chardet<4.0,>=2.0, but you have chardet 4.0.0."
chardet==4.0.0

# pass_util.py
cryptography==3.4.6
