iPython

# Talks to the datastore
google-cloud-datastore

# Talks oauth
google_auth_oauthlib

# Talks to the bikebuds API
pyswagger
requests

# tasks_util.py
google-cloud-tasks

# For natural language dates and such
Babel

# /services/                                                                                                                           
fitbit==0.3.1
stravalib==0.10.2
withings-api
measurement==2.0.1

# Utility
sortedcontainers
