ipython==7.28.0

# ds_helper.py
google-cloud-datastore==2.2.0

# Talks to firebase
firebase-admin==5.0.3

# Talks oauth
google-auth-oauthlib==0.4.6

# Talks to the bikebuds API
pyswagger==0.8.39
requests==2.26.0

# tasks_util.py
google-cloud-tasks==2.6.0

# For natural language dates and such
Babel==2.9.1

# /services/
fitbit==0.3.1
stravalib==0.10.4
withings-api==2.3.2

# trainerroad
lxml==4.6.3

# Utility
sortedcontainers==2.4.0

# bikebuds API
./generated/python_bikebuds_api

# Google Maps
googlemaps

# pass_util.py
cryptography==39.0.1
