# main.py
Flask==2.1.2
Flask-Cors==3.0.10
Werkzeug==2.1.2
flask-restx==0.5.1

requests==2.28.1
requests-toolbelt==0.10.0
curlify==2.2.1

# auth_util.py
firebase-admin==5.2.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3

# ds_helper.py
google-cloud-datastore==2.9.0

# /services/
fitbit==0.3.1
stravalib==0.10.4
withings-api==2.4.0
measurement==3.2.0

# trainerroad
lxml==4.9.1

# task_util.py
google-cloud-tasks==2.10.4

# For natural language dates and such
Babel==2.10.3

# Utility
sortedcontainers==2.4.0

# Slack
bs4
slack_sdk==3.19.1

# Google Maps
googlemaps

retrying==1.3.3

# live tracks tracker
google-cloud-pubsub==2.13.10
google-api-python-client==2.65.0
beautifulsoup4==4.11.1
python-dateutil==2.8.2

# aiohttp 3.7.3 has requirement chardet<4.0,>=2.0, but you have chardet 4.0.0."
chardet==5.0.0

# pass_util.py
cryptography==38.0.1
